
@{
    ViewBag.Title = "Services";
}

<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>@ViewRes.ServicesStrings.OurServices</h2>

        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../../Content/images/services/cutting.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@ViewRes.ServicesStrings.Cutting</h3>
                        <p>@ViewRes.ServicesStrings.CuttingText1  </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../../Content/images/services/delivery.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@ViewRes.ServicesStrings.Delivery</h3>
                        <p>@ViewRes.ServicesStrings.DeliveryText </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../../Content/images/services/paper.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@ViewRes.ServicesStrings.Installation</h3>
                        <p>@ViewRes.ServicesStrings.InstallationText </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4  col-md-offset-2">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../../Content/images/services/settings.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@ViewRes.ServicesStrings.Production</h3>
                        <p>@ViewRes.ServicesStrings.ProductionText</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="../../Content/images/services/sewing.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@ViewRes.ServicesStrings.Ridging</h3>
                        <p>@ViewRes.ServicesStrings.RidgingText</p>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="../../Content/images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>*@
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

        <hr />
    
        <section id="recent-works">
            <div class="container">
                <div class="center wow fadeInDown">
                    <h2></h2>
                    @*<p class="lead"> </p>*@
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/Content/images/service/service1.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">@ViewRes.ServicesStrings.ImagesMoreInfo</a> </h3>

                                    <a class="preview" href="~/Content/images/service/service1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> @ViewRes.ServicesStrings.View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/Content/images/service/service2.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">@ViewRes.ServicesStrings.ImagesMoreInfo1</a></h3>

                                    <a class="preview" href="~/Content/images/service/service2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>@ViewRes.ServicesStrings.View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/Content/images/service/service3.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">@ViewRes.ServicesStrings.ImagesMoreInfo2 </a></h3>

                                    <a class="preview" href="~/Content/images/service/service3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> @ViewRes.ServicesStrings.View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/Content/images/service/service4.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">@ViewRes.ServicesStrings.ImagesMoreInfo3  </a></h3>

                                    <a class="preview" href="~/Content/images/service/service4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> @ViewRes.ServicesStrings.View</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/Content/images/service/service5.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">@ViewRes.ServicesStrings.ImagesMoreInfo4 </a></h3>

                                    <a class="preview" href="~/Content/images/service/service5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>@ViewRes.ServicesStrings.View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/Content/images/service/service6.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">@ViewRes.ServicesStrings.ImagesMoreInfo5  </a></h3>

                                    <a class="preview" href="~/Content/images/service/service6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> @ViewRes.ServicesStrings.View</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/#recent-works-->
   
